<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>i</servlet-name>
<servlet-class>com.cool</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>i</servlet-name>
<url-pattern>/demo</url-pattern></servlet-mapping>
<servlet>
<servlet-name>j</servlet-name>
<servlet-class>com.LoginDao</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>j</servlet-name>
<url-pattern>/demo1</url-pattern></servlet-mapping>
</web-app>