<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.ij.welcome</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/test</url-pattern>

</servlet-mapping>
<welcome-file-list>
<welcome-file>form.html</welcome-file>
</welcome-file-list>
</web-app>