<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>i</servlet-name>
<servlet-class>com.ij.first</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>i</servlet-name>
<url-pattern>/furl</url-pattern></servlet-mapping>
<servlet>
<servlet-name>j</servlet-name>
<servlet-class>com.ij.second</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>j</servlet-name>
<url-pattern>/surl</url-pattern></servlet-mapping>
</web-app>